[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
Actions=0ScriptsAction;
Icon=zeroscripts
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
X-KDE-Submenu=ZeroScripts

[Desktop Action 0ScriptsAction]
Name=0 Menu
Icon=zeroscripts
Exec=konsole --workdir %f -e '/usr/bin/0'

